*{-webkit-margin-before: 0px;-webkit-margin-after:0px;-webkit-padding-start:0px;}
.ranking-content { overflow: hidden;height: 100%;}
.ranking-detail { overflow-x: hidden; height: 100%;overflow-y: auto; *position: relative; }
.ranking-item{margin-bottom: 16px;}
.ranking-list{list-style: none;}
.ranking-list li{display: inline-block;}
.ranking-steps { color: #7eb222; font-size: 1.5em; text-align: center;vertical-align:middle; position: absolute; top: 21px; -webkit-transition: all 1s ease-in; transition: all 1s ease-in; -moz-transition: all 1s ease-in; }
.ranking-graph-steps { width: 340px; height: 66px; position: relative; }
.ranking-graph-render { background: #a4db35; position: relative;  width: 100%; height: 100%; -webkit-transition: all 1s ease-in; transition: all 1s ease-in; -moz-transition: all 1s ease-in; }
.initial-render { width: 0% !important; left: 0% !important;}
.ranking-crown { height: 22px; width: 35px; margin: 0 auto; z-index: 100; position: relative; }
.ranking-crown-image { background: url(../images/ranking.png) -70px 0px; }
.ranking-avatar { position: relative; height: 66px; width: 66px; background: url(../images/ranking.png) top left; top: -3px; }
.ranking-avatar-background { background: url(../images/ranking.png) top left; height: 64px; width: 64px; position: absolute; left: 0px; top: 0px; }
.ranking-avatar-image { width: 64px; height: 64px; }
.ranking-number { color: #232431; text-align: center; font-size: 1.5em;margin-bottom: 10px;}
.ranking-top-three { color: #f6752c; }
.ranking-name {width: 66px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 1em; }
.ranking-detail::-webkit-scrollbar { height: 15px; width: 15px; }
.ranking-detail::-webkit-scrollbar-track { background: white; border-radius: 10px; }
.ranking-detail::-webkit-scrollbar-track-piece { background: #ccc; border-radius: 10px; }
.ranking-detail::-webkit-scrollbar-thumb { background: #a4db35; border-radius: 10px; height: 50px; }